<app-header titulo="Cards"></app-header>

<ion-content padding>

    <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card>


      <ion-item color="primary" >
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-item>

      <ion-card-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ipsam nemo quibusdam at quaerat maiores aspernatur numquam reprehenderit sit eius optio deserunt, voluptatum, commodi placeat iure repellendus cumque! Reiciendis, earum!
      </ion-card-content>

    </ion-card>


    <ion-card>

      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, magnam ipsa ipsum optio nam quia deserunt ullam deleniti incidunt maxime vero velit consequuntur aperiam eos ex. Aut laboriosam esse repellendus.
      </ion-card-content>
    </ion-card>

</ion-content>
